<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fitness App</title>
    <style>
        .link-div{
            display: flex;
            flex-wrap: wrap;

            justify-content:center;
            color:purple;
        }

        .form-div{

            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            color:purple;

        }
        label{
            margin: 25px 0;

        }
        a{
            margin: 3%;
        }
    </style>
</head>
<body>
<div class="link-div" style="background-color:grey, color-purple">
    <a href="/viewfitnessusers">Lista e anetareve </a>
    <a href="#">Shto anetare te ri</a>
</div>

<div class="form-div">
    <h1>Shto anetare te ti</h1> <br/>
    <form th:action="${'/viewfitnessusers'}" th:object="${fitnessUser}" method="post" style="background-color:grey">
        <label>
            Emri: <br/>
            <input th:field="${fitnessUser.firstName}" type="text" />
        </label><br/>

        <label>
            Mbiemri:<br/>
            <input th:field="${fitnessUser.lastName}" type="text" />
        </label><br/>
        <label>
            Mosha:<br/>
            <input th:field="${fitnessUser.age}" type="number" />
        </label><br/>

        <label>
            Gjinia:
            <select th:field="${fitnessUser.gender}">
                <option value="mashkull">Mashkull</option>
                <option value="femer">Femer</option>
            </select>
        </label><br/>
        <label>
            <input type="checkbox"/>
            Aktiv
        </label> <br/>

        <input type="submit"/>
        <input  type="reset" />
    </form>
</div>

</body>
</html>